{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ wo_render_breadcrumbs() }}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>{{ 'home.welcome' | trans }}</h1>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <table class="table">
                            <p> Connecte toi si tu veux avoir accès aux évènements.</p>
                            <p> Crée un compte si tu ne l'a toujours pas fait.</p>
                            <p> Si tu est fidèle tu pourra évoluer en tant qu'admin et tu aura le droit d'organiser des évènements.</p>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


