{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ wo_render_breadcrumbs() }}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>{{ 'home.welcome' | trans }}</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table">
                            <p> Crée un compte si tu n'en possède pas un.</p>
                            <p> Connecte toi si tu veux voir la liste des évènements et t'y inscrire.</p>
                            <p> Pour avoir le droit d'organiser ton propre évènement il faut être administrateur.</p>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


